/* tokens.css - Auto-extracted by AI-Iceberg */
:root {

  /* Colors */
  --color-fff: #fff;
  --color-1233: #1233;
  --color-9caf61: #9caf61;
  --color-f2f7f2: #f2f7f2;
  --color-19513e: #19513e;
  --color-425644: #425644;
  --color-c16535: #c16535;
  --color-21694c: #21694c;
  --color-eaf3ed: #eaf3ed;
  --color-cce0d2: #cce0d2;
  --color-ba8d36: #ba8d36;
  --color-f2f5f1: #f2f5f1;
  --color-e2ece4: #e2ece4;
  --color-e8eadf: #e8eadf;
  --color-eef2e8: #eef2e8;
  --color-d1d8c9: #d1d8c9;
  --color-e2ede5: #e2ede5;
  --color-edf2e6: #edf2e6;
  --color-1d3628: #1d3628;
  --color-d7decb: #d7decb;
  --color-2d6147: #2d6147;
  --color-dfece2: #dfece2;
  --color-f6f5ef: #f6f5ef;
  --color-cad8ce: #cad8ce;
  --color-fff0e5: #fff0e5;
  --color-f8f8f1: #f8f8f1;
  --color-839f60: #839f60;
  --color-f3f6f0: #f3f6f0;
  --color-ccdcd0: #ccdcd0;
  --color-edf0e8: #edf0e8;
  --color-dbe0d4: #dbe0d4;
  --color-edf0e4: #edf0e4;
  --color-244e34: #244e34;
  --color-23583b: #23583b;
  --color-eef1e4: #eef1e4;
  --color-22372b: #22372b;
  --color-7c8577: #7c8577;
  --color-4e5f50: #4e5f50;
  --color-61704f: #61704f;
  --color-d5e3d8: #d5e3d8;
  --color-526858: #526858;
  --color-184a33: #184a33;
  --color-e8eddf: #e8eddf;
  --color-d3dcc9: #d3dcc9;
  --color-d3dfd6: #d3dfd6;
  --color-24533d: #24533d;
  --color-893e1e: #893e1e;
  --color-fff2e9: #fff2e9;
  --color-304a3b: #304a3b;
  --color-426c57: #426c57;
  --color-85906d: #85906d;
  --color-fafcf9: #fafcf9;
  --color-7b8c80: #7b8c80;
  --color-94ad66: #94ad66;
  --color-e8f2e9: #e8f2e9;
  --color-bdc8b3: #bdc8b3;
  --color-eaf0eb: #eaf0eb;
  --color-e9ebe2: #e9ebe2;
  --color-182e27: #182e27;
  --color-f0f5ef: #f0f5ef;
  --color-263f32: #263f32;
  --color-516349: #516349;
  --color-8da679: #8da679;
  --color-adbfaf: #adbfaf;
  --color-d9e3dc: #d9e3dc;
  --color-546b5a: #546b5a;
  --color-287453: #287453;
  --color-f4efdf: #f4efdf;
  --color-dce4de: #dce4de;
  --color-305b45: #305b45;
  --color-254f3b: #254f3b;
  --color-4f6c47: #4f6c47;
  --color-e8f0ea: #e8f0ea;
  --color-bc6734: #bc6734;
  --color-355a44: #355a44;
  --color-bdd4c4: #bdd4c4;
  --color-f8faf8: #f8faf8;
  --color-53675d: #53675d;
  --color-e5eadb: #e5eadb;
  --color-91a371: #91a371;
  --color-243c2b: #243c2b;
  --color-31805a: #31805a;
  --color-536d59: #536d59;
  --color-d8e5db: #d8e5db;
  --color-50675a: #50675a;
  --color-edf3ee: #edf3ee;
  --color-204832: #204832;
  --color-174c36: #174c36;
  --color-508365: #508365;
  --color-bed9c7: #bed9c7;
  --color-77632d: #77632d;
  --color-617368: #617368;
  --color-d0e2d5: #d0e2d5;
  --color-cfdfd3: #cfdfd3;
  --color-fffefa: #fffefa;
  --color-804024: #804024;
  --color-f5f7f4: #f5f7f4;
  --color-2b5a3f: #2b5a3f;
  --color-f0f2e8: #f0f2e8;
  --color-667467: #667467;
  --color-d4dec5: #d4dec5;
  --color-425e4b: #425e4b;
  --color-244431: #244431;
  --color-f0f5f1: #f0f5f1;
  --color-78836a: #78836a;
  --color-688143: #688143;
  --color-d4dac7: #d4dac7;
  --color-eef4ef: #eef4ef;
  --color-f4f5ef: #f4f5ef;
  --color-d8caaa: #d8caaa;
  --color-20352b: #20352b;
  --color-7d866f: #7d866f;
  --color-becfc2: #becfc2;
  --color-96a66b: #96a66b;
  --color-cfd9bd: #cfd9bd;
  --color-415e4c: #415e4c;
  --color-cdd5c7: #cdd5c7;
  --color-dbe5d8: #dbe5d8;
  --color-ccdbd1: #ccdbd1;
  --color-15251970: #15251970;
  --color-1b3f2706: #1b3f2706;
  --color-0a241633: #0a241633;
  --color-193c2814: #193c2814;
  --color-fffffff0: #fffffff0;
  --color-cdd9bf55: #cdd9bf55;
  --color-18382512: #18382512;
  --color-142b215e: #142b215e;
  --color-1b422918: #1b422918;
  --color-193c2810: #193c2810;
  --color-ffffff80: #ffffff80;

  /* Radiuses */
  --radius-0: 10px;
  --radius-1: 12px;
  --radius-2: 13px;
  --radius-3: 14px;
  --radius-4: 15px;
  --radius-5: 16px;
  --radius-6: 18px;
  --radius-7: 20px;
  --radius-8: 22px;
  --radius-9: 24px;
  --radius-10: 50%;
  --radius-11: 6px;
  --radius-12: 7px;
  --radius-13: 8px;
  --radius-14: 999px;
  --radius-15: 9px;

  /* Shadows */
  --shadow-0: 0 10px 40px #193c2810;
  --shadow-1: 0 1px 4px #1b422918;
  --shadow-2: 0 24px 100px #0a241633;
  --shadow-3: 0 2px 5px #18382512;
  --shadow-4: 0 2px 6px #193c2814;
  --shadow-5: 0 2px 8px #1233;
  --shadow-6: 0 3px 16px #1b3f2706;
}
